/node_modules
/public/hot
/public/storage
/public/uploads/avatars
/public/uploads/products
/storage/*.key
/storage/*.index
/vendor
.env
.env.backup
.code
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.code-workspace

!.env.travis
