.avatar {
    border-radius: 50%;
}

.avatar-lg {
    width: 90%;
    height: 90%;
    margin: 5px;
}

.avatar-sm {
    width: 32px;
    height: 32px;
    top: 10px;
    left: 10px;
}

.logo-sm {
    height: 32px;
}

.logo-lg
{
    position : flexible;
    left: 50%;
    top: 50%;
}

@media (max-width: 768px) {
    #header-avatar {
        display: none;
    }
}