$border: 1px solid rgba(0, 0, 0, 0.125);

.nav-menu {
  background-color: rgba(0, 0, 0, 0.03);
}

.main-menu {
  border: $border;
}

.menu-item {
  text-decoration: none;
  color: black;
  padding: 5px;
  border-top: $border;
}

.menu-item:hover,
.menu-item:active {
  text-decoration: none;
  color: black;
  font-weight: bold;
  background-color: #fff;
}

#menu-avatar {
  width: 90%;
  height: 90%;
  margin: 5px;
}

.avatar {
  border-radius: 50%;
}

#header-avatar {
  width: 32px;
  height: 32px;
  top: 10px;
  left: 10px;
}