container_commands:
    01express:
        command: "echo AWS Container Commands started, starting Composer install."
    02installComposer:
        command: export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update
    03express:
        command: "echo Composer install completed, starting PaP migration"
    04initdb:
        command: "php artisan migrate:refresh --seed"
    05fakeuserdb:
        command: "php artisan db:seed --class=FakeUsersSeeder"
    06fakeadmindb:
        command: "php artisan db:seed --class=FakeAdminSeeder"


option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COMPOSER_HOME
    value: /root

    